table#ps_summary span.flagged { color: #ff0000; }
table#ps_summary td.counts { text-align: right; padding: 3px; border-left: 1px solid white; }
table#ps_summary td.user_counts { text-align: left; padding: 3px; }
table#ps_summary td.rowsum { text-align: right; border-left: 1px solid black; padding: 3px; }
table#ps_summary td.colsum { text-align: right; border-top: 1px solid black; border-left: 1px solid white; padding: 3px; }
table#ps_summary td.cornersum { text-align: right; border-top: 1px solid black; border-left: 1px solid black; padding: 3px; }
table#ps_summary tbody tr:nth-child(even) { background: #B2F0D1; }
table#ps_summary tbody tr:nth-child(odd) { background: #E6FAF0; }
table#ps_summary { border-collapse: collapse; }

table#ps_report td.flagged { color: #ff0000; }
table#ps_report tbody tr:nth-child(even) { background: #B2F0D1; }
table#ps_report tbody tr:nth-child(odd) { background: #E6FAF0; }
table#ps_report tr.ps_report_line td.ps_report_element { vertical-align: top; white-space: normal; text-align: left; }
table#ps_report td#state_line { font-weight: bold; font-size: 120%; background: #FFF; padding-top: 10px; padding-bottom: 2px; }
table#ps_report tr#hdr_line { font-weight: bold; font-size: 75%; background: #FFF;  }

span#pss_owner { font-size: 150%; }

table.ps_configure td.ps_label { text-align: right; }
table.ps_configure td.ps_value { text-align: left; }

table#ps_counts tbody tr:nth-child(even) { background: #B2F0D1; }
table#ps_counts tbody tr:nth-child(odd) { background: #E6FAF0; }
table#ps_counts td.counts { text-align: right; padding: 3px; border-left: 1px solid white; }
table#ps_counts td.rowsum { text-align: right; border-left: 1px solid black; padding: 3px; }
table#ps_counts th { text-align: right; font-weight: bold; }

table#ps_waiting tbody tr:nth-child(even) { background: #B2F0D1; }
table#ps_waiting tbody tr:nth-child(odd) { background: #E6FAF0; }
table#ps_waiting td.counts { text-align: right; padding: 3px; border-left: 1px solid white; }
table#ps_waiting th { text-align: center; font-weight: bold; }
table#ps_waiting tr#wait_date_line { font-weight: bold; font-size: 120%; background: #FFF; padding-top: 10px; padding-bottom: 2px; text-align: center; }
table#ps_waiting tr#wait_state_line { font-weight: bold; font-size: 75%; background: #FFF;  text-align: center; }

table#ps_limit_changes tbody tr:nth-child(even) { background: #B2F0D1; }
table#ps_limit_changes tbody tr:nth-child(odd) { background: #E6FAF0; }

div#project_state_date_form fieldset > div { float: left; padding: 5px 10px; }
div#project_state_date_form label { display: block; }
div#project_state_date_form label.noblock { display: inline; }

.ps_content_left { float:left; }
.ps_table_border { border-style: solid; border-width: 1px; border-color: #BBB; margin: 3px; padding: 3px; }
h4.ps_header { margin-top: 20px; }

.ps_holiday_year { font-weight: bold; font-size: 150%; }

h3.space_above { margin-top: 20px; }
